<section id="artigos">
<div class="container artigos">
  <div class="center wow fadeInDown">
       <h2>Dicas de Viagens</h2>
       <p class="lead">A Vabene oferece a seus leitores dicas valiosas para planejar e preparar sua viagem, informações sobre destinos e muito mais! Veja alguns posts especiais para que suas férias sejam perfeitas!</p>
   </div>

  <div class="row">

    {% for post in site.posts limit:4 %}
    <div class="card col-md-3 col-sm-12 col-xs-12 wow fadeInDown">
      <img class="card-img-top img-responsive" src="{{ post.image }}" alt="Imagem de capa do card">
      <div class="card-body">
        <h4 class="card-title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h4>
        <p class="card-text">{{ post.description }}</p>
        <div class="col-md-12 col-sm-12 col-xs-12 btn-destinos">

      </div>
      <!-- {{ post.url | prepend: site.baseurl }} -->
      <a href="javascript:alert ('Em Breve')" style="color:#222340; text-align: center; width:100%;"><i class="fas fa-plus"></i> Abrir destino</a>
      </div>
    </div>
    {% endfor %}

  </div> <!-- final da row para os cards -->

  <hr>

  <div class="container"  style="text-align:center;">
    <h3><b>Quer ver mais dicas de viagens?</b></h3>
    <a href="dicas-de-viagens.html">
      <button type="button" class="btn btn-primary wow fadeInDown">Explorar todas as dicas</button>
    </a>
  </div>


</div> <!-- final de artigos container -->
</section>
