     <form id="my-form" action="https://formspree.io/f/xeqvkolj" method="POST">

        <div class="form-group col-md-12 col-xs-12">
          <input class="form-control" type="text" name="nome" placeholder="Nome completo">
        </div>

        <div class="form-group col-md-6 col-xs-12">
          <input class="form-control" type="email" name="email" placeholder="Email Corporativo">
        </div>

        <div class="form-group col-md-6 col-xs-12">
          <input type="text" class="form-control" name="telefone" placeholder="Telefone">
        </div>

        <div class="form-group col-md-6 col-xs-12">
          <input type="text" class="form-control" name="Empresa" placeholder="Nome da Empresa">
        </div>

        <div class="form-group col-md-6 col-xs-12">
          <input type="number" class="form-control" name="Passageiros" placeholder="Nº Funcionários">
        </div>

        <div class="form-group col-md-12 col-xs-12">
        <textarea class="form-control" rows="5" type="text" name="mensagem" placeholder="Digite sobre sua necessidade:"></textarea>
        </div>

        <div class="col-md-12 text-center">
          <button type="submit" value="Send" class="btn btn-primary btt-orcamento" id="my-form-button">Solicitar Contato</button>
          <p id="my-form-status"></p>

        </div>

      </form>

                      <!-- Place this script at the end of the body tag -->

                      <script>
                          var form = document.getElementById("my-form");

                          async function handleSubmit(event) {
                            event.preventDefault();
                            var status = document.getElementById("my-form-status");
                            var data = new FormData(event.target);
                            fetch(event.target.action, {
                              method: form.method,
                              body: data,
                              headers: {
                                  'Accept': 'application/json'
                              }
                            }).then(response => {
                              status.innerHTML = "Sua mensagem foi enviada com sucesso!!";
                              form.reset()
                            }).catch(error => {
                              status.innerHTML = "Oops! Algum problema no envio da sua mensagem!"
                            });
                          }
                          form.addEventListener("submit", handleSubmit)
                      </script>
