  <body class="homepage">

      <header id="header">
          <div class="top-bar">
              <div class="container">
                  <div class="row">

                      <div class="col-sm-12 col-xs-12" style="text-align: center">
                         <p style="color:#FFFFFF; margin: 0px;"> <b>Consultores Online</b> <a class="whatsapp-icon" href="https://api.whatsapp.com/send?phone={{site.whatsapp}}&text=Ol%C3%A1%20Vabene%2C%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es..." target="_blank">
                          <i class="fa fa-whatsapp"></i> <b>Abrir Chat</b>
                         </a> </p>
                         <!--h3 style="color:#FFFFFF; margin-top:0;">


                         </h3>-->
                      </div>
                  </div>
                </div>
            </div><!--/.container-->
          </div><!--/.top-bar-->

          <nav class="navbar navbar-inverse" role="banner">
              <div class="container">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                          <span class="sr-only">Example</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="index.html">

                          <img src="/assets/images/portfolio/logotipo-copia.png" class="img-responsive">

                      </a>
                  </div>

                  <div class="collapse navbar-collapse navbar-right">
                      <ul class="nav navbar-nav">

                          <li><a href="index.html">Ínicio</a></li>

                          <li class="dropdown">
                            <a href="servicos.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Serviços <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="fretado-empresarial.html">Fretamento Empresarial</a></li>
                              <li><a href="viagens-e-excursoes.html">Viagens e Excursões</a></li>
                              <li><a href="fretado-escolar.html">Transporte Escolar</a></li>
                              <li><a href="traslado.html">Traslado</a></li>
                              <li><a href="executivo.html">Executivo</a></li>
                              <li><a href="locacoes-veiculos.html">Locações de Veículos</a></li>
                            </ul>

                            <li><a href="veiculos-a-venda.html">Veículos à Venda</a></li>

                            <li class="dropdown">
                              <a href="servicos.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sobre Nós <span class="caret"></span></a>

                              <ul class="dropdown-menu">
                                <li><a href="historia.html">Nossa História</a></li>
                                <li><a href="contato.html">Fale Conosco</a></li>
                                <li><a href="trabalhe-conosco.html">Trabalhe Conosco</a></li>
                              </ul>

                      </ul>
                  </div>
              </div><!--/.container-->
          </nav><!--/nav-->

      </header><!--/header-->

      <section id="main-slider" class="no-margin">
              <div class="carousel slide">
                  <ol class="carousel-indicators">
                      <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                      <li data-target="#main-slider" data-slide-to="1"></li>
                      <li data-target="#main-slider" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">

                      <div class="item active">
                          <img src="/assets/images/slider/vabene-frota.jpg" class="img-responsive">
                          <div class="container absolute">
                              <div class="row slide-margin">
                                  <div class="col-sm-6">
                                      <div class="carousel-content">
                                          <h1 class="animation animated-item-1">Leito Rodoviário, transfer, eventos, executivo</h1>
                                          <h2 class="animation animated-item-2">Frota completa, confira nossos diferenciais</h2>

                                      </div>
                                  </div>



                              </div>
                          </div>
                      </div><!--/.item-->

                      <div class="item">
                          <img src="/assets/images/slider/vabene-frota-2.jpg" class="img-responsive">
                          <div class="container absolute">
                              <div class="row slide-margin">
                                  <div class="col-sm-6">
                                      <div class="carousel-content">
                                          <h1 class="animation animated-item-1">Experiência em fretamentos empresariais</h1>
                                          <h2 class="animation animated-item-2">A Vabene é referência e qualidade</h2>

                                      </div>
                                  </div>



                              </div>
                          </div>
                      </div><!--/.item-->

                      <div class="item">
                          <img src="/assets/images/slider/vabene-frota-interna-poltronas.jpg" class="img-responsive">
                          <div class="container absolute">
                              <div class="row slide-margin">
                                  <div class="col-sm-6">
                                      <div class="carousel-content">
                                          <h1 class="animation animated-item-1">Viaje com conforto e a segurança</h1>
                                          <h2 class="animation animated-item-2">Seja qual for seu destino, conforto está garantido!</h2>

                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div><!--/.item-->
                  </div><!--/.carousel-inner-->
              </div><!--/.carousel-->
              <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
                  <i class="fa fa-chevron-left"></i>
              </a>
              <a class="next hidden-xs" href="#main-slider" data-slide="next">
                  <i class="fa fa-chevron-right"></i>
              </a>
          </section><!--/#main-slider-->
