<section id="feature" >
   <div class="container">
      <div class="center wow fadeInDown">
           <h2>Nossos Serviços</h2>
           <p class="lead">Profissionais treinados e habilitados para conduzi-los, propiciando tranqüilidade e segurança a quem confia o seu serviço de transportes, com treinamentos, cursos e avaliações periódicas.</p>
       </div>

       <div class="row">
           <div class="features">
               <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                   <div class="feature-wrap">
                       <i class="fa fa-bus"></i>
                       <h2>Fretamentos</h2>
                       <h3>Destinado a funcionários de empresas que necessitam de transporte.</h3>
                   </div>
               </div><!--/.col-md-4-->

               <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                   <div class="feature-wrap">
                       <i class="fa fa-car"></i>
                       <h2>Executivo</h2>
                       <h3>Aeroportos, viagens, jantares, visitas à empresas, eventos e etc.</h3>
                   </div>
               </div><!--/.col-md-4-->

               <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                   <div class="feature-wrap">
                       <i class="fa fa-graduation-cap"></i>
                       <h2>Escolar / Faculdade</h2>
                       <h3>Disponibilizamos serviço diário no transporte de estudantes.</h3>
                   </div>
               </div><!--/.col-md-4-->

               <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                   <div class="feature-wrap">
                       <i class="fa fa-thumbs-up"></i>
                       <h2>Locações</h2>
                       <h3>Ideal para quem procura qualidade, conforto, segurança e pontualidade.
</h3>
                   </div>
               </div><!--/.col-md-4-->

               <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                   <div class="feature-wrap">
                       <i class="fa fa-map-marker"></i>
                       <h2>Turismo</h2>
                       <h3>Levamos você, seja qual for seu destino.</h3>
                   </div>
               </div><!--/.col-md-4-->

               <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                   <div class="feature-wrap">
                       <i class="fa fa-suitcase"></i>
                       <h2>Viagens</h2>
                       <h3>Profissionais capacitados e uma frota para atendê-lo.</h3>
                   </div>
               </div><!--/.col-md-4-->



           </div><!--/.services-->


          <div class="container"  style="text-align:center;">
            <a href="javascript:alert ('Em Breve')">
              <button type="button" class="btn btn-primary wow fadeInDown">Explorar todos os serviços</button>
            </a>
          </div>


       </div><!--/.row-->
   </div><!--/.container-->
</section><!--/#feature-->
