<img src="assets/images/traslado.jpg" class="img-responsive">

<h2>Você sabe o que é o serviço de transfer?</h2>
<p>É a empresa que realiza o traslado do aeroporto até o resort ou de um ponto <b>A</b> a um ponto <b>B</b>.</p>
<p>Você pode contratar este serviço na ida ou na volta para o aeroporto, reunião ou evento, contando com o conforto e a segurança proporcionada pela <b>VABENE TRANSTUR</b>. Caso você viaje para um destino desconhecido, com idosos, crianças ou apenas queira maior conforto para a sua família o transfer é uma das formas mais seguras de você realizar o seu traslado.</p>
A <b>VABENE</b> é credenciada pelo <b>Ministério do Turismo</b> e presta este serviço buscando o passageiro no horário.
O serviço de transfer é dividido em três categorias principais: <b>in</b>, ou e <b>in</b>/<b>out</b>.
<h2>O que é transfer in, out e in/out?</h2>
<p><b>Transfer in</b>: é responsável por realizar o trajeto do aeroporto ou ponto <b>A</b> até o resort ou ponto <b>B</b>;</p>
<p><b>Transfer out</b>: é responsável por realizar o trajeto do resort ou ponto <b>B</b> até o aeroporto ou ponto <b>A</b>;</p>
<p><b>Transfer in/out</b>: é responsável por realizar o trajeto ida e volta;</p>
<p>Segurança é um dos pontos mais relevantes, já que a VABENE é certificadas pelo Ministério do Turismo e seus condutores são treinados e os carros seguem a regulamentação da ANTT.
Para mais informações e contratação destes benefícios, solicite um orçamento.</p>
